<div id="dashboard">
	<h1>Dashboard</h1>
	
	<div class="grid_4 dashboard_model alpha">
		<h2>Projects</h2>
		<div class="meta">
			<%= link_to "+ Add", new_project_path, :class => "add_link" %>
			<span class="count"><%= @projects.length %></span>
		</div>
		<ul id="projects">
			<% @projects.each do |project| %>
				<li id="project_<%= project.id %>" class="<% if project.private %>private<% end %>">
					<%= link_to project.name, project %> &mdash; <strong><%= project.category.name %></strong>
					<% if project.private %><small>(P)</small><% end %>
					<br/>
					<small><em>
						<%= project.images.length %> images
						&nbsp;[ <%= link_to "edit", edit_project_path(project) %> ]
					</em></small>
				</li>
			<% end %>
		</ul>
	</div>
	
	<script type="text/javascript" charset="utf-8">
	$(function(){
		$('#projects').sortable({
			dropOnEmpty: false,
			items: 'li',
			opacity: '0.5',
			scroll: true,
			axis: 'y',
			placeholder: "dashboard_placeholder",
			update: function(e) {
				$.ajax({
					type: 'post',
					data: $('#projects').sortable('serialize'),
					datatype: 'script',
					complete: function(request) {
						$('#projects').effect('highlight');
					},url: '<%= sort_projects_path %>'
				});
			}
		});
	});
	</script>
	
	<div class="grid_4 dashboard_model">
		<h2>Categories</h2>
		<div class="meta">
			<%= link_to "+ Add", new_category_path, :class => "add_link" %>
			<span class="count"><%= @categories.length %></span>
		</div>
		<ul>
			<% @categories.each do |category| %>
				<li>
					<%= category.name %><br/>
					<small><em>
						<%= category.projects.length %> projects
						&nbsp;[ <%= link_to "edit", edit_category_path(category) %> ]
					</em></small>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="grid_4 dashboard_model">
		<h2>Clients</h2>
		<div class="meta">
			<%= link_to "+ Add", new_client_path, :class => "add_link" %>
			<span class="count"><%= @clients.length %></span>
		</div>
		<ul>
			<% @clients.each do |client| %>
				<li>
					<%= link_to client.name, client %><br/>
					<small><em>
						[ <%= link_to "edit", edit_client_path(client) %> ]
					</em></small>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="clear"></div>
	
	<div class="grid_4 dashboard_model alpha">
		<h2>Links</h2>
		<div class="meta">
			<span class="count"><%= @links.length %></span>
		</div>		
		<ul>
			<% @links.each do |link| %>
				<li>
					<%= link_to link.title, link.url %> <small><em>(<%= link.project.name %>)</em></small><br/>
					<small><em>
						[ <%= link_to "edit", edit_link_path(link) %> ]
					</em></small>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="grid_4 dashboard_model">
		<h2>Pages</h2>
		<div class="meta">
			<%= link_to "+ Add", new_page_path, :class => "add_link" %>
			<span class="count"><%= @pages.length %></span>
		</div>
		<ul>
			<% @pages.each do |page| %>
				<li>
					<%= link_to page.title, page %><br/>
					<small><em>
						[ <%= link_to "edit", edit_page_path(page) %> ]
					</em></small>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="grid_12 alpha dashboard_model">
		<h2>Images</h2>
		<div class="meta">
			<span class="count"><%= @images.length %></span>
		</div>
		<div class="images">
		<% @images.each do |image| %>
			<a href="<%= project_path(image.project) %>"><img src="<%= image.image.thumb.url %>" alt="<%= image.title %>" /></a>&nbsp;&nbsp;
		<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>