<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Description</th>
    <th>Url</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.slug %></td>
    <td><%= client.description %></td>
    <td><%= client.url %></td>
    <td><%= client.started_at %></td>
    <td><%= client.ended_at %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
