<%= semantic_form_for(@project, :html => {:multipart => true}) do |f| %>
	<%= f.inputs do %>
		<%= f.input :name %>
		<%= f.input :private %>
	<ol class="inline">
		<%= f.input :client %>
		<li id="new_client">[ <strong><a href="#">New Client</a></strong> ]</li>
	</ol>
			<%= f.inputs :for => :client, :id => "client_form" do |c| %>
				<h3>New Client</h3>
				<%= c.input :name %>
				<%= c.input :url %>
			<% end %>
		
	  	<%= f.input :description %>
	<ol class="inline">
		<%= f.input :category %>
			<li id="new_category">[ <strong><a href="#">New Category</a></strong> ]</li>
	</ol>
			<%= f.inputs :for => :category, :id => "category_form" do |c| %>
				<h3>New Category</h3>
				<%= c.input :name %>
			<% end %>
	  	<%= f.input :worked_on %>
	<% end %>
	
	<div id="images_form">
		<%= link_to_add_image "add image", f %>
		<%= f.inputs :for => :images, :name => "Images", :id => "images_#{@project.id}" do |i| %>
			<%= render "image_attachment", :i => i %>
		<% end %>
	</div>
	
	<div id="links_form">
		<%= link_to_add_link "add link", f %>
		<%= f.inputs :for => :links, :name => "Links", :id => "links_#{@project.id}" do |i| %>
			<%= render "link_attachment", :i => i %>
		<% end %>
	</div>
	
	<%= f.buttons %>
<% end %>
