<%= semantic_form_for(@project, :html => {:multipart => true}) do |f| %>
	<%= f.inputs do %>
		<%= f.input :name %>
		<%= f.input :client %> or new client:
			<%= f.inputs :for => :client do |c| %>
				<%= c.input :name %>
			<% end %>
		
	  	<%= f.input :description %>
		<%= f.input :category %> or new category: 
			<%= f.inputs :for => :category do |c| %>
				<%= c.input :name %>
			<% end %>
	  	<%= f.input :worked_on %>
	<% end %>
	
	<div class="images">
		<%= link_to_add_image "add image", f %>
		<% f.inputs :for => :images, :name => "Images", :id => "images_#{@project.id}" do |i| %>
			<%= render "image_attachment", :i => i %>
		<% end %>
	</div>
	
	<%= f.buttons %>
<% end %>
