<div id="project" style="oveflow-y: auto;">
	<div class="grid_12">
		<h1><%= @project.name %></h1>
	</div>
	<div class="grid_3" id="project_info">
		<div id="description">
		  <%= @project.description.html_safe %>
		</div>
		<div id="worked">
		  <em><%= @project.client.name %></em><br/>
		  <%= @project.worked_on.strftime("%Y") %>
		</div>
		<div class="links">
			<ul>
				<% @project.links.each do |link| %>
					<li><%= link_to link.title, link.url %></li>
				<% end%>
			</ul>
		</div>
	</div>
	<div class="grid_9">
		<ul id="image_view">
			<% @images.each do |image| %>
				<li id="image_<%= image.id %>" data-id="<%= image.id %>">
					<a href="<%= image.image.url %>"><img src="<%= image.image.display.url %>"/></a>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="clear"></div>
	
</div>

<% if current_user %>
<script type="text/javascript" charset="utf-8">
$(function(){
	$('#images.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#images.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#images.admin').effect('highlight');
				},url: '<%= sort_project_images_path @project %>'
			});
		}
	});
});
</script>
<% end %>
