<%= javascript "home" %>

<% if current_user %>
	<% content_for :nav do %>
		| <strong><%= link_to 'New Project', new_project_path %></strong>
	<% end %>
<% end %>

</div>
<div id="index_hero">
	<div class="container_12" id="content_box">
	</div>
	<div id="loader"><img src="/images/loader.gif" alt="[Loading]"/></div>
	<div class="clear"></div>
</div>
<div class="container_12">
<div class="grid_12">

<ul id="projects" class="<% if current_user %>admin<% end %>">
<% @projects.each do |project| %>
<% if  @projects.index(project) % 3 == 0 %>
	<li id="project_<%= project.id %>" class="grid_4 alpha">
<% elsif @projects.index(project) % 3 == 2%>
	<li id="project_<%= project.id %>" class="grid_4 omega">
<% else %>
	<li id="project_<%= project.id %>" class="grid_4">
<% end %>
		<div class="project">
			<div class="project_info">
				<a href="<%= project_path(project) %>" class="project_link">
					<% if project.hero %>
					<img src="<%= project.hero.image.small.url %>"/>
					<% end %>
					<h3><%= project.name %></h3>
				</a>
				<p class="client"><em><%= project.client.name %></em></p>
				<p class="category"><em><%= project.category.name %></em></p>
			</div>
			<% if current_user %>
			    <%= link_to 'Edit', edit_project_path(project) %> |
			    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</div>
	</li>
<% end %>
</ul>


<% if current_user %>
<script type="text/javascript" charset="utf-8">
$(function(){
	$('#projects.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#projects.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#projects.admin').effect('highlight');
				},url: '<%= sort_projects_path %>'
			});
		}
	});
});
</script>
<% end %>

<br />

</div>
<div class="clear"></div>
<div id="social">
	<div class="grid_3">
		<h2><a href="http://twitter.com/<%= APP_CONFIG["social"]["twitter"] %>">Twitter</a></h2>
	</div>
	<div class="grid_3">
		<h2><a href="http://flickr.com/photos/<%= APP_CONFIG["social"]["flickr"] %>">Flickr</a></h2>
	</div>
	<div class="grid_3">
		<h2><a href="https://github.com/<%= APP_CONFIG["social"]["github"] %>">Github</a></h2>
	</div>
	<div class="grid_3">
		<h2><a href="http://linkedin.com<%= APP_CONFIG["social"]["linkedin"] %>">LinkedIn</a></h2>
	</div>
	<div class="clear"></div>
</div>