<% if current_user %>
	<% content_for :nav do %>
		<br/><%= link_to 'New Project', new_project_path %>
	<% end %>
<% end %>

<div id="index_hero" class="grid_12 alpha omega">
	<a href="<%= project_path @projects.first %>">
	<img src="<%= @projects.first.hero.image.hero.url %>" width="940" height="300" />
	</a>
</div>
<div class="clear"></div>
<div class="grid_12">

<ul id="projects" class="<% if current_user %>admin<% end %>">
<% @projects.each do |project| %>
<% if  @projects.index(project) % 3 == 0 %>
	<li id="project_<%= project.id %>" class="grid_4 alpha">
<% elsif @projects.index(project) % 2 == 0%>
	<li id="project_<%= project.id %>" class="grid_4 omega">
<% else %>
	<li id="project_<%= project.id %>" class="grid_4">
<% end %>
		<a href="<%= project_path(project) %>">
			<% if project.hero %>
			<img src="<%= project.hero.image.small.url %>"/>
			<% end %>
			<h3><%= project.name %></h3>
		</a>
		<% if current_user %>
		    <%= link_to 'Edit', edit_project_path(project) %> |
		    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</li>
<% end %>
</ul>



<script type="text/javascript" charset="utf-8">
$(function(){
	$('#projects.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#projects.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#projects.admin').effect('highlight');
				},url: '<%= sort_projects_path %>'
			});
		}
	});
});
</script>


<br />

</div>