<h1>Listing projects</h1>

<ul id="projects" class="<% if current_user %>admin<% end %>">
<% @projects.each do |project| %>
	<li id="project_<%= project.id %>">
		<a href="<%= project_url(project) %>">
			<% if project.hero %>
			<img src="<%= project.hero.image.small.url %>"/>
			<% end %>
			<h2><%= project.name %></h2>
		</a>
		<% if current_user %>
		    <%= link_to 'Edit', edit_project_path(project) %> |
		    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</li>
<% end %>
</ul>



<script type="text/javascript" charset="utf-8">
$(function(){
	$('#projects.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#projects.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#projects.admin').effect('highlight');
				},url: '<%= sort_projects_path %>'
			});
		}
	});
});
</script>


<br />

<% if current_user %>
<%= link_to 'New Project', new_project_path %>
<% end %>