<% title @project.name %>


<% if current_user %>
	<% content_for :nav do %>
		<br/><%= link_to 'Edit Project', edit_project_path(@project) %>
	<% end %>
<% end %>

<div class="grid_12">
	

<div id="project_info_overlay">
	<img src="<%= @project.hero.image.hero.url %>" />
	<div id="project_info_overlay_description">
		<h1><%= @project.name %></h1>
		<div id="description">
		  <%= @project.description %>
		</div>
		<div id="worked">
		  <%= @project.worked_on.strftime("%Y") %>
		</div>
		<div id="category">
		  <%= @project.category.name %>
		</div>
	</div>
</div>

<ul id="images" class="<% if current_user %>admin<% end %>">
<% @images.each do |image| %>
<li id="image_<%= image.id %>" class="image">
	<a href="<%= image.image.url%>"><img src="<%= image.image.small.url %>" /></a>
	<p><%= image.title %></p>
</li>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function(){
	$('#images.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#images.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#images.admin').effect('highlight');
				},url: '<%= sort_project_images_path @project %>'
			});
		}
	});
});
</script>



</div>