<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Worked on:</b>
  <%= @project.worked_on %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category.name %>
</p>

<img src="<%= @hero.image.hero.url %>" />

<h4>Images (<%= @project.images.count %>)</h4>
<ul id="images" class="admin">
<% @images.each do |image| %>
<li id="image_<%= image.id %>" class="image">
	<a href="<%= image.image.url%>"><img src="<%= image.image.small.url %>" /></a>
	<p><%= image.title %></p>
</li>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function(){
	$('#images.admin').sortable({
		dropOnEmpty: false,
		items: 'li',
		opacity: '0.5',
		scroll: true,
		placeholder: "image_placeholder",
		update: function(e) {
			$.ajax({
				type: 'post',
				data: $('#images.admin').sortable('serialize'),
				datatype: 'script',
				complete: function(request) {
					$('#images.admin').effect('highlight');
				},url: '<%= sort_project_images_path @project %>'
			});
		}
	});
});
</script>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
