<% title "Contact" %>

<h1 class="grid_12">Contact</h1>
<p class="grid_8 prefix_2">Thanks for your interest! If you'd like to get in touch with me, maybe you have some questions or comments, please fill out the form below. I'll get back to you as quickly as possible.</p>

<div id="contact_form" class="grid_6 prefix_3">
	<%= form_tag do |f| %>
		<div class="banner"></div>
		<p>	
			<%= label_tag(:name, "Name: ")%>
			<%= text_field_tag(:name, "", :size => 40) %>
			<span class="error"></span>
		</p>
		<p>	
			<%= label_tag(:email, "Email: ")%>
			<%= text_field_tag(:email, "", :size => 40) %>
			<span class="error"></span>
		</p>

		<p>	
			<%= label_tag(:message, "Your carefully worded message: ")%><br/>
			<%= text_area_tag(:message, "", :size => "50x12") %><br/>
			<span class="error"></span>
		</p>

		<p><%= submit_tag("Send", :id => "send_button") %></p>
		<div class="banner"></div>
	<% end %>
</div>
