<% title "Contact" %>

<h1 class="grid_12">Contact</h1>
<p class="grid_12">Thanks for your interest!</p>

<div id="contact_form" class="grid_6 prefix_3">
	<%= form_tag do |f| %>
		<div class="banner"></div>
		<p>	
			<%= label_tag(:name, "Name: ")%>
			<%= text_field_tag(:name, "", :size => 40) %>
		</p>
		<p>	
			<%= label_tag(:email, "Email: ")%>
			<%= text_field_tag(:email, "", :size => 40) %>
		</p>

		<p>	
			<%= label_tag(:message, "Your carefully worded message: ")%><br/>
			<%= text_area_tag(:message, "", :size => "50x12") %>
		</p>

		<p><%= submit_tag("Send", :id => "send_button") %></p>
		<div class="banner"></div>
	<% end %>
</div>
